.fade_in {
  opacity: 0;
  animation: fade-in 1s forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0.3;
  }

  100% {
    opacity: 1;
  }
}

form input[type="text"],
form select,
form textarea {
  width: 300px;
  height: 30px;
}

input[type="email"],
input[type="date"],
input[type="password"] {
  width: 300px;
  height: 30px;
}


form p {
  margin-left: 160px 80px;
}


body {
  margin: 0;
  padding: 0;
  font-family: 'Comic Sans MS', cursive;
  position: relative;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f1f8ff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

.header-title a {
  font-size: 24px;
  color: #333;
  text-decoration: none;
}

.header-links {
  display: flex;
  gap: 10px;
}

.login-button {
  padding: 10px 20px;
  margin-right: 30px;
  background-color: #ffcc00;
  color: #333;
  text-decoration: none;
  border-radius: 5px;
}

.container {
  background-color: #fff;
  padding: 40px;
  text-align: center;
}

.game-description {
  font-size: 18px;
  color: #555;
}

.content {
  margin-top: 40px;
}

h1 {
  font-size: 36px;
  color: #333;
}

h2 {
  font-size: 24px;
  color: #333;
}

.footer {
  background-color: #f1f8ff;
  padding: 20px;
  text-align: center;
  color: #555;

  min-width: 100%;
  bottom: 0;
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 30px;
  width: 100%;
}


body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
}

.profile {
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: auto;
}

.login-button {
  margin-top: 10px;
}

form p {
  margin-bottom: 10px;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="date"],
input[type="checkbox"],
input[type="radio"],
input[type="file"],
input[type="submit"],
input[type="reset"],
input[type="button"] {
  margin-top: 12px;
}