<!DOCTYPE html>
<html>
<head>
<title>Страница авторизации</title>
</head>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
<body class="fade_in">
    <div class="header">
        <div class="header-title">
            <a href="/home/">The Smartest</a>
        </div>
        <div class="header-links">
            <a href="/register/" class="login-button">Регистрация</a>
        </div>
    </div>

    <div class="container">
        <h1>Страница авторизации!</h1>
        <div class="form-container">
            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                {{ form.username.label_tag }}
                {{ form.username }}
                {{ form.password.label_tag }}
                {{ form.password }}
                {{ form.first_name.label_tag }}
                {{ form.first_name }}
                {{ form.last_name.label_tag }}
                {{ form.last_name }}
                <button type="submit" class="login-button">Войти</button>
            </form>
        </div>
    </div>
</body>
<script>
window.addEventListener('DOMContentLoaded', (event) => {
  const container = document.getElementById('container');
  container.style.opacity = 1;
});
</script>
</html>
