<!DOCTYPE html>
<html>
<head>
<title>Профиль пользователя</title>
</head>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
<body class="fade_in">
    <div class="header">
        <div class="header-title">
            <a>The Smartest</a>
        </div>
        <div class="header-links">
            <a href="/" class="login-button">Назад</a>
        </div>
    </div>
    <div class="container">
        <div class="profile">
            <h1>Ваш профиль {{ user_profile.user_name }}</h1>
            <h2>Имя: {{ user_profile.user_name }} {{ user_profile.user_surname }}</h2>
            <h2>Пол: {{ user_profile.get_user_gender_display }}</h2>
            <h2>Дата рождения: {{ user_profile.user_date_of_birth }}</h2>
            <h2>Электронный адрес: {{ user_profile.user_email }}</h2>
        </div>
    </div>
</body>
</html>
